<div class="post-list-container">
  <ion-content>
    <ion-list>
      <ion-card>
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto" class="ion-padding">
              <ion-avatar>
                <ion-img src="../../../../assets/my-profile-img.jpg"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col>
              <div class="full-name">John Doe</div>
              <div class="role">Full stack developer</div>
              <div class="meta-data">
                1d
                <ion-icon name="ellipse"></ion-icon>
                Edited
                <ion-icon name="ellipse"></ion-icon>
                <ion-icon color="dark" name="globe-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </ion-content>
</div>
