<ion-card style="box-shadow: none">
  <ion-card-header>

    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
<!--          <ion-avatar>-->
<!--            <ion-img [src]="userImagePath"></ion-img>-->
<!--          </ion-avatar>-->
        </ion-col>
        <ion-col>
          <ion-card-title>John Doe</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button expand="block" size="small" fill="outline" color="primary">Accept</ion-button>
        <ion-button expand="block" size="small" fill="outline" color="danger">Decline</ion-button>
      </ion-row>
    </ion-grid>

  </ion-card-header>
</ion-card>
